name: Responsiveness Action

on: [push, issues]

jobs:
  responsiveness_job:
    runs-on: ubuntu-latest
    name: Check responsiveness score of repo
    steps:
      - name: Responsiveness calculation and output
        id: responsiveness
        uses: pavitthrap/hci-responsiveness-action@v1.3.5
        with:
          repo-token: ${{ secrets.HCI_TOKEN }}
          number-of-months: 1
          repo-name: "hci-demo"

